<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Burgers</title>
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- BootStrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- FontAwesome -->
    	<script src="https://kit.fontawesome.com/eeaaa00cac.js"></script>
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Walter+Turncoat&display=swap" rel="stylesheet">
		<!-- CSS -->
        <link rel="stylesheet" href="assets/css/burger_style.css">
	</head>
	<body>
		<!-- Header -->
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="jumbotron jumbotron-fluid">
				<div class="container">
					<img src="assets/img/logo2.png" class="img-fluid" alt="Responsive image">
				</div>
				</div>
			</div>
		</div>
		<!-- Main Content -->
		<div class="container">
			<div class="row text-center">
				<div class="col-md-12">
					<div id="newBurger" class="input-group">
						<input id="name" type="text" class="form-control" placeholder="Request New Burger">
						<span class="input-group-btn">
								<button id="submit" class="btn btn-primary"><i class="fas fa-plus"></i></button>
						</span>
					</div>
				</div>
			</div>
			<div id="content" class="row">
				{{{ body }}}				
			</div>
		</div>
		<!-- JavaScript -->
        <script src="/assets/js/app.js"></script>
	</body>
</html>